<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJs Tutorial</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="vue-app">
      <h1>Events</h1>
      <!-- use v-bind or : to bind attributes -->
      <a v-bind:href="website">The Net Ninja</a>

      <!-- use v-html to identify tags that should be rendered as html-->
      <p v-html="websiteTag"></p>

      <!-- use v:on to add handlers for events -->
      <!--
      <button v-on:click="age++">Add a Year</button>
      <button v-on:click="age--">Subtract a Year</button>
      -->

      <!-- use v-on:dblclick for double click events -->
      <!-- use @dblclick as a shortcut instead of v-on:dbclick -->
      <button v-on:click="add(1)" v-on:dblclick="add(10)">Add a Year</button>
      <button v-on:click="subtract(1)" @dblclick="subtract(10)">Subtract a Year</button>

      <!-- event modifiers can add extra functionality or conditions to events -->
      <!-- an example is v-on:click.once to trigger that event only once -->
      <!-- or v-on:click.prevent to prevent the default action from taking place -->

      <p>My age is {{ age }}</p>

      <!--<div id="canvas" v-on:mousemove="updateXY">{{ x }}, {{ y }}</div>-->
      <h3>Keyboard Events </h3>
      <label>Name:</label>
      <input type="text" v-on:keyup="logName" v-model="name"/>
      <label>Age:</label>
      <input type="text" v-on:keyup="logAge" v-model="age" />

      <!-- event modifiers can also be used here -->
      <!-- for instance <input type="text" v-on:keyup.enter="logName" v-model="name"/> -->
      <!-- would only call the function when the enter key is pressed -->
      <!-- modifiers can also be chained such as v-on:keyup.alt.enter -->

      <h3>Computed Properties</h3>
      <button v-on:click="x++">Add to X</button>
      <button v-on:click="y++">Add to Y</button>

      <p>Age + X = {{ addToX }}</p>
      <p>Age + Y = {{ addToY }}</p>
    </div>
    <script src="app.js"></script>
  </body>
</html>
